@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
    
* {
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', monospace;
}

body {
    background-color: black;
    z-index: 0;
}

.row div {
    width: 20px;
    height: 20px;
    display: inline-block;
    z-index: 0;
}

.brick{
    background-color: rgb(0, 0, 198);
    z-index: 0;
}

.coin {
    background-image: url("./assets/coin.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30%;
    z-index: 0;
}

.cherry {
    background-image: url("./assets/cherry.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;
    z-index: 0;
}

#pacman {
    background-image: url("./assets/pacman.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
    position: absolute;
    z-index: 3;
}

#red-ghost {
    background-image: url("./assets/red-ghost.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
    position: absolute;
    z-index: 1;
}

#orange-ghost {
    background-image: url("./assets/orange-ghost.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
    position: absolute;
    z-index: 1;
}

#pink-ghost {
    background-image: url("./assets/pink-ghost.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
    position: absolute;
    z-index: 1;
}

.empty {
    background-color: black;
    z-index: 0;
}
.empty2 {
    background-color: black;
    z-index: 0;
}

.score {
    margin-top: 20px;
    color: white;
}

#pacman-death {
    background-image: url("./assets/pacman-death.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
    position: absolute;
    z-index: 3;
}

.restart {
    background-color: #0000c6;
    border: 0px;
    padding: 20px;
    color: white;
    margin-top: 30px;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0px 0px 5px rgba(25, 0, 255, 0.8);
    z-index: 5;
}